:root {
    --icon_width: 79px;
    --icon_height: 79px;
    --num_icons: 9;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, grey 0%, lightgray 100%);
}
.slots {
    position: relative;
    width: calc(3.5 * var(--icon_width));
    height: calc(3 * var(--icon_height));
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: calc(0.3 * var(--icon_height));
}

.reel {
    border: 1px solid black;
    width: var(--icon_width);
    height: calc(3 * var(--icon_height));
    background-image: url(https://assets.codepen.io/439000/slotreel.webp);
    background-repeat: repeat-y;
    background-position: 0 0;
}
